@model Covid.Models.Vacina

@{
    ViewBag.Title = "Create";
}

<h2>Criar Vacina</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2 mb-2">Doses necessarias</div>
        <div class="col-md-10">
            @{
                var lista = new SelectList(
                new List<SelectListItem>
                {
                    new SelectListItem { Text = "Uma dose", Value = "1"},
                    new SelectListItem { Text = "Duas doses", Value = "2"},
                    new SelectListItem { Text = "Três doses", Value = "3"},
                }, "Value", "Text", 1);
            }
            @Html.DropDownListFor(model => model.QuantidadeDose, lista, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.QuantidadeDose, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(x => x.EmpresaId)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index","Vacinas", new { id = Model.EmpresaId }, htmlAttributes: new { @class = "btn text-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
