@model IEnumerable<Covid.Models.Historico>

@{
    ViewBag.Title = "Historico";
}

<h2>Histórico</h2>

<div class="col-12 input-group mb-2 pl-0">
    <input class="input-group border border-secondary rounded-left" type="text" id="myInput" onkeyup="Pesquisar()" placeholder="Filtro de email">
    <div class="input-group-append">
        <button class="btn btn-secondary" onclick="LimparPesquisa()">Limpar</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Email
        </th>
        <th>
            Descrição
        </th>
        <th>
            Tabela Nome
        </th>
        <th>
            Id do item
        </th>
        <th>
            Data da ação
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr class="bloco">
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td id="nome">
        @Html.DisplayFor(modelItem => item.Usuario.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descricao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TabelaNome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Data)
    </td>
</tr>
}

</table>

<script>
    function Pesquisar() {
        var filter = $("#myInput").val().toUpperCase()
        var ul = $(".bloco")

        for (var i = 0; i < ul.length; i++) {
            var a = ul[i]
            li = $(a).find("#nome")
            if (li.text().toUpperCase().indexOf(filter) > -1) {
                $(a).show()
            } else {
                $(a).hide()
            }
        }
    }

    function LimparPesquisa() {
        $("#myInput").val('')
        Pesquisar()
    }
</script>